body {
    font-family: 'Lora', serif;
    font-size: $global-font-size;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}

.content-section {
    text-align: center;

    &__header {
        
        &--h1 {
            font-size: 7rem;
            text-transform: uppercase;
            letter-spacing: 3rem;
            font-weight: 900;
            color: $color-white;

            @include respond(tab-port) {
                font-size: 5rem;
                letter-spacing: 2rem;
            }

            @include respond(phone) {
                font-size: 4rem;
                letter-spacing: 1rem;
            }

            @include respond(phone-vs) {
                font-size: 3.5rem;
                letter-spacing: .5rem;
            }
        }
    }

    &__first {


        &--h3 {
            font-weight: 600;
            text-transform: capitalize;
            letter-spacing: .15rem;

            @include respond(tab-port) {
                line-height: 1.5;
            }

            @include respond(phone) {
                letter-spacing: 0;
                
            }
        }

        &--input {
            font-size: $global-font-size;
        }


    }

    &__second {


        &--h2 {
            text-transform: capitalize;
        }

        &--link {
            &,
            &:link,
            &:visited {
                color: $color-primary;
                font-weight: 700;
                letter-spacing: .1rem;
                text-transform: capitalize;
                text-decoration: none;

                @include respond(phone) {
                    letter-spacing: 0;

                }
            }

            &:hover {
                color: $color-white;
                text-decoration: underline;
            }
        }
    }
}

.footer {

    font-family: 'Open Sans', sans-serif;

    &__link {
        &,
        &:link,
        &:visited {
            color: $color-primary;
            font-weight: 500;
            letter-spacing: .1rem;
            text-transform: uppercase;
            text-decoration: none;
        }

    }
}