body {
	height: 100%;
	width: 99%;
	color: white;
	font-family: 'Open Sans', sans-serif;
	background-color:black;
	background-image:
		radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
		radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
		radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
		radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
		background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
		background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

header {
	width: 100%;
	margin-top: 5%;
	text-align: center;
}

header h1 {
	font-size: 4rem;
	text-shadow: 3px 3px 30px rgba(230,230,230, 0.4);
}

header h3 {
	font-size: 1.5rem;
	text-shadow: 2px 2px 2px rgba(230,230,230, 0.2);
}

main {
	width: 100%;
	text-align: center;
	margin: 5% auto 5% auto;
}

main input {
	display: block;
	background-color: beige;
	margin: 2% auto 2% auto;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	border: none;
	outline: none;
	width: 40%;
	height: 25px;
	font-size: 1rem;
	text-align: center;
}

@media only screen and (max-width: 500px) {
  main input {
    width: 300px;
  }
}

main input:hover {
	background-color: rgb(221,221,221);
	border-radius: 40px;
}

main input:focus {
	border: 3px solid #6E6E6E;
	border-radius: 40px;
	background-color: beige;
	font-weight: 700;
}

.btns {
	margin: 2% auto;
	padding: 0.5rem 1rem;
	background-color: black;
	color: white;
	border: 2px solid white;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	font-weight: 700;
	box-shadow: 5px 5px 10px rgba(10,10,10,0.8);
}

@media only screen and (max-width: 500px) {
  .btns {
    display: inline-block;
    margin: 2% auto;
  }
}

.btns:hover {
	background-color: white;
	color: black;
	box-shadow: none;
}

#search-btn {
	margin-right: 0.5rem;
	font-size: 1rem;
	padding: 15px 40px;
	width: 170px;
}

#lucky-btn {
	margin-left: 0.5rem;
	font-size: 1rem;
	padding: 15px 40px;
	width: 170px;
}

.icon {
	display: inline-block;
}

a {
	text-decoration: none;
	color: white;
}

#search-content {
	width: 80%;
	margin: 3% auto;
  text-align: center;
}

#result {
	width: 100%;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	margin: 10px auto;
	padding: 1rem 2rem;
	background-color: rgba(255,255,255, 0.1);
	padding: 2rem 1rem;
}

#result:hover {
	border-top: none;
	border-bottom: none;
	border-left: 5px solid white;
}

#result > h3 {
	font-size: 1.5rem;
	display: block;
	font-weight: 700;
}

#result > p {
	display: block;
}

#result > a {
	float: right;
	font-size: smaller; 
}

#result > a:hover {
	color: gray;
}

footer {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

footer > hr {
	display: block;
	border-top: 1px solid black;
	border-bottom: 1px solid rgb(10,10,10);
	border-right: none;
	border-left: none;
	margin: 0 auto;
	width: 60%;
}

footer p {
	font-size: smaller;
	margin: 2% auto;
}