//COLOR SCHEME:

$color-primary-light: #c4686f;
$color-primary: #AC2832;
$color-primary-dark: #441014;


$color-secondary-light: #ebe4c0;
$color-secondary: #DFD297;
$color-secondary-dark: #6f694b;

$color-black: #000;

$color-white: #FFF;


// FONT SIZE:

$global-font-size: 1.7rem;

