.btn {
    display: inline-block;
    padding: 2rem 4rem;
    border-radius: .5rem;
    // background-color: $color-secondary;
    // color: $color-white;
    font-size: $global-font-size;
    text-transform: uppercase;
    // font-weight: 500;
    letter-spacing: .5rem;
    cursor: pointer;
    border: 2px solid $color-black;
    font-family: 'Lora', serif;
    outline: none;
    transition: all .3s;
    @include boxShadow;
    
    &:hover {
        transform: translateY(-1rem);
        box-shadow: 0 1rem 3rem rgba($color-black, .5);
        background-color: $color-secondary-light;
        // color: $color-white;
    }
    
    &:active {
        transform: translateY(-.5rem);
        box-shadow: 0 .5rem 3rem rgba($color-black, .5);

    }
    
    &--submit {
        
        margin-right: 5rem;

        &:hover{

        }

        &:active {
            
        }
    }

    &--lucky {
        &,
        &:link,
        &:visited {
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-black;
            font-family: 'Lora', serif;
            transition: all .3s;
            @include boxShadow;
            
        }

        &:hover {
        }
        
        &:active {

        }
    }
}