.content-section {
    // border: 2px solid green;
    // height: 100%;

    &__header {
        // border: 2px solid red;
        padding: 2rem 1rem;
        background-color: $color-primary;
    }

    &__first {
        padding: 3rem 2rem;

        &--h3 {
            padding: 2rem;
        }

        &--input {
            padding: 2rem;
            width: 60%;
            border-radius: 3px;
            border: 1px solid $color-black;
            outline: none;
            transition: all .2s;
            // border: none;
            // @include boxShadow;

            &:hover {
                background-color: rgba($color-secondary, .1);
            }

            &:focus {

            }
        }

        &--btns-container {
            padding: 3rem;
        }


    }

    &__second {
        padding: 1rem 5rem;
        
        &--result-container {
            padding: 0 2rem 2rem 2rem;
            border-left: 5px solid transparent;
            transition: all .5s;
            
            &:not(:last-child) {
                margin-bottom: 5rem;   
            }
            
            &:hover {
                border-left: 5px solid $color-primary;
            }
        }

        &--hr {
            width: 40%;
            border: .15rem solid $color-primary;
            margin: 0 auto;
        }
        
        &--h2 {
            display: inline-block;
            padding: 2rem;
            padding-top: 4rem;
        }

        &--text {
            display: block;
            padding: 2rem;
            text-align: left;
        }

        &--link {
            &,
            &:link,
            &:visited {
                display: inline-block;
                margin: 3rem;
                float: right;
            }

            &:hover {

            }

            &:active {

            }
        }
    }
}

.footer {
    padding: 5rem 10rem;

    &__hr {
        width: 60%;
        margin: 0 auto;
    }

    &__text {
        padding: 5rem;
    }

    &__link {
        &,
        &:link,
        &:visited {

        }

        &:hover {

        }

        &:active {
            
        }

    }
}